In [1]:
a=89

In [2]:
print(a)

89

In [3]:
# a--> variable -> as variable is a memory allocation used to store values
# variable names: unique names provided to a variable for its unique identification
#rules for naming identifiers:-
# 1  should not start with a number
# 2  should not contain any special character wxcept"_"(underscore)
# 3  can contain alphabets,numbers,_
# 4  cannot be a keyword



# keywords:- predefined set of words dedicated to perform a task. eg:- and,or,is,not...,true,etc


#data types:
#int--> integer--> 1,2,3,-63,...
#float---> fractional data   ---> 0.98,0.88,...
# str ----> string ---> all values enclosed in quotes""
#bool ---> boolean ---> True/False(t,f capital hona chahiye)



#use "type" function to check the data type

In [4]:
j='true'
print(type(j))

<class 'str'>

In [5]:
q=9000
p='9000'
print(type(p))
print(type(q))

<class 'str'>
<class 'int'>

In [6]:
r=True
print(type(r))

<class 'bool'>

In [7]:
#operator:-
   # 1 arithematic operator :- +,/,-,*,**,%
# / --> quotient --> in decimal places
# // --> float division ---> in integer values
# % ---> modolus ---> remainder(int)
# ** ---> power ---> exponents
print(2**3)

8

In [8]:
# comparision operators:
   #   <,>,<=,>=,==,!=
    # == ---> comparision operator
    # = ---> assignment operator

In [14]:
a=123456
a%10

6

In [21]:
a=a//10
a%10

5

In [22]:
a=a//10
a%10

4

a=a//10
a%10

In [24]:
#wap to add a1 and a2 without using inbuilt function, + operator
a=30
b=50
print(a-(-b))

80

In [25]:
#logical operator: 
   #  and,or,not

In [26]:
#and ---> returns true only when both the values are true
# or----> returns true when anyone condition is true
# not ---> value is reversed

In [33]:
False or 6

6

In [34]:
#BODMAS IS FOLLOWED
4+5 > 5-1

True

In [35]:
(9-2)*3

21

In [37]:
_aw = 8-3
print(_aw)
print("_aw")

5
_aw

In [38]:
# input function
r= input("enter a number")

enter a number33

In [39]:
print(r)

33

In [40]:
type(r)

str

In [41]:
# by default input() takes all input in strimg form

In [43]:
# Typecasting: process of converting value of one data type to another

In [44]:
t= int(r)

In [45]:
type(t)

int

In [54]:
#wap get two numbers from user and print their sum, prod and diff separately
p=int (input("enter 1st number"))
o=int (input("enter 2nd number"))
print('sum',p+o)
print('diff',p-o)
print('prod',p*o)

enter 1st number11
enter 2nd number9
sum 20
diff 2
prod 99

In [55]:
# wap to take length and breadth and print area
p=int (input("length-"))
o=int (input("breadtgh-"))
print('area of rectangle',p*o)

length-3
breadtgh-4
area of rectangle 12

In [56]:
#man walks n meters in a st line, if dist covered is a radius then find area of circle
r= int(input("enter the dist covered"))
print('area of circle',3.14*r**2)

enter the dist covered5
area of circle 78.5

In [57]:
#''----> 1 line
#"" ----> 1line
#'""'  ---- multi line

In [59]:
g='''this is 1st session 
enjoy'''


print(g)

this is 1st session
enjoy

In [60]:
# eval function -  used to capture the value given irrespective data type
y = eval(input())
print(y)

55
55

In [62]:
type(y)

int

In [63]:
# a+=1
#a=a+1
#b-=2      b=b-2
#//=
#+=
#*=
#**=
#+=
#-=

In [64]:
# strin:- immutable collection of ordered data
d= 'Hello World'

In [65]:
# 1 Indexing: Acess values using its position
# string_name[position]

In [69]:
d[3]

'l'

In [71]:
d[-1]

'd'

In [75]:
# get user input and print its first 3 letters
r=input()
print(r[0],r[1],r[2])

bekar
b e k

In [76]:
# slicing: 
# var_name[start_index:end_index+1:steps]          by default steps has a value of 1

In [77]:
d

'Hello World'

In [79]:
d[2:7]

'llo W'

In [83]:
s= 'elephant'
#output = eehn
s[0:7:2]
s[::2]

'eehn'

In [85]:
#length of a string function
len(s)

8

In [97]:
#wap to print first half of string
t='hello there'
t[0:len(t)//2:1]

'hello'

In [98]:
#wap 2nd half
t[len(t)//2:len(t)+1:1]

' there'

In [100]:
r='tiger'
r[-1:-len(r)-1:-1]

'regit'

In [108]:
f ='elephant'
#  elephtan
f[0:5:1]+f[-1:-4:-1]

'elephtna'

In [112]:
#error is shown when we use a module for -100 sqrt where as in normal - and 100 are solved separately
-100**(1/2)

-10.0

In [113]:
x=-100
sqrt(x)

NameError: name 'sqrt' is not defined

In [114]:
#wap area of triangle
x=3
y=4
area = 1/2*x*y
print(area)

6.0

In [115]:
#wap perimeter of sq
x=8
print('perimeter is',4*x)

perimeter is 32

In [116]:
#11
r= 323
print('area of field',3.14*r**2)

area of field 327593.06

In [118]:
#12 population
r=2300000
print('population in millions',r/1000000,'million')

population in millions 2.3 million

In [120]:
# strin:--
#cases:--
# 1--- upper case ---> all capital
 #   2---- lower case --> all lower
  #  3----title case ----> first letter of each word is upper rest small
   # 4---- capitalize --> first letter of first word of the string is in capital
    # 5-----swapcase -->  reverse case of existing string

In [121]:
a="helLo wOrld"

In [123]:
a.upper()

'HELLO WORLD'

In [124]:
a.lower()

'hello world'

In [126]:
a.capitalize()

'Hello world'

In [133]:
a.swapcase()

'HELLO WORLD'

In [134]:
#string function ---1 split
#a.split(delimeter)

In [135]:
a.split()

['hello', 'world']

In [138]:
a.split('l')
#jonsa letter daloge wahion se kaat dega

['he', '', 'o wor', 'd']

In [140]:
h=a.split('l')
h

['he', '', 'o wor', 'd']

In [142]:
#join function--- fevicol ka kaam bas letter dena h jo missing
"l".join(h)

'hello world'

In [143]:
"o".join(h)

'heooo worod'

In [145]:
j="apple"
"kk".join(j)

'akkpkkpkklkke'

In [147]:
#to check the case
j="tommy"
j.isupper()

False

In [148]:
j.islower()

True

In [149]:
j.istitle()

False

In [150]:
#substring:a part of a string is k.as substring
j="cls kb khatam hogi"

In [151]:
'cls' in j

True

In [152]:
#in---->used to perform membership test

In [154]:
#count:-- kitni baar aaya ek string mein
j.count('k')

2

In [158]:
j.index('kb')
#word konse index se start hoga

4

In [164]:
#wap to get input from user and find start and ending index of a word
s=input('enter a string:-')
c=input('search for:')
p=s.index(c)
q=len(c)
print('start:-',p)
print ('end:-',(p+q-1))

enter a string:-hi there how are you
search for:how
start:- 9
end:- 11

In [165]:
a='2'
print(a*2)

22